{% extends "base.html" %}

{% block title %}The Sparta!

{% endblock %}

{% block content %}
    <p>Authorization.</p>
    <div>
        <form action="" method="POST">
            <input type="submit" value="logout" />
        </form>
    </div>
    <style>
        table {
            width: 100%; /* Ширина таблицы в процентах */
            border-collapse: collapse;
        }
    </style>

    <p>User name: {{ user }}</p>
    <p>Password: {{ password }}</p>
    <div>
        <p>Таблиця показує ім'я клієнта, назви магазинів його мережі, дату реєстрації першого та останнього чеків клієнта в мережі.</p>
        {{ dw_info | safe}}
    </div>

    <br>
    <div>
        <p>Таблиця про інформацію по магазину: назву магазину, його адресу, розташування на карті та координати.</p>
        {{ dw_shops | safe }}
    </div>
    <br>

    <br>
    <div>
        <p>Інформація про товар: назву товару, штрих-код, код категорії, одиниці вимірювання. </p>
         <form action="/getproduct/" method='post'>
            <label for="id_products">ID Products:</label>
            <input type="text" name="id_products" value="2837229" id="id_products">
            <input type="submit" value="Ok" />
         </form>
    </div>
    <br>

    <div>
    
    </div>

    {{ product | safe}}
    <br>
    {{ id2name | safe}}
{% endblock %}